Table 2.3.1: Substance use of all young people in treatment 2016-17

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/statistics/substance-misuse-treatment-for-young-people-statistics-2016-to-2017')
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda t: t.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['2.3.1 Substance Use']

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<H6 15.0>, <F6 8058.0>, <F14 83.0>, <C5 0.77>, <B19 16436.0>, <G9 0.04>, <G5 0.88>, <E7 0.09>, <F8 1473.0>, <B10 71.0>, <D11 302.0>, <G6 0.49>, <H15 16.0>, <B8 254.0>, <C9 0.01>, <C8 0.02>, <D16 2711.0>, <F16 '-'>, <C14 0.0>, <H13 17.0>, <B16 '-'>, <E15 0.03>, <E5 0.11>, <C12 0.0>, <F11 430.0>, <E6 0.34>, <E8 0.07>, <F5 14449.0>, <B14 23.0>, <H7 15.0>, <E12 0.0>, <H8 16.0>, <H10 16.0>, <G7 0.11>, <E14 0.0>, <B17 16426.0>, <G14 0.01>, <B12 71.0>, <C17 1.0>, <E10 0.03>, <D13 67.0>, <C6 0.15>, <B13 16.0>, <E11 0.02>, <G12 0.01>, <F12 98.0>, <D14 60.0>, <G15 '-'>, <D12 27.0>, <D15 563.0>, <C16 '-'>, <H5 15.0>, <B5 12712.0>, <E13 0.0>, <H11 14.5>, <B6 2465.0>, <H14 16.0>, <F10 491.0>, <B9 213.0>, <F7 1815.0>, <D6 5593.0>, <C7 0.02>, <C13 0.0>, <F15 '-'>, <D5 1737.0>, <G8 0.09>, <E9 0.02>, <D8 1219.0>, <D7 1475.0>, <G10 0.03>, <H9 16.0>, <F13 83.0>, <D9 372.0>, <B15 133.0>, <C11 0.01>, <H12 17.0>, <G13 0.01>, <C15 0.01>, <C10 0.0>, <B18 10.0>, <E16 0.16>, <B7 340.0>, <F9 585.0>, <G16 '-'>, <B11 128.0>, <H16 '-'>, <D10 420.0>, <G11 0.03>}

In [4]:
substance = tab.excel_ref('A5').expand(DOWN).is_not_blank()
substance

{<A5 'Cannabis'>, <A11 'Solvents'>, <A19 'Total including missing'>, <A8 'Cocaine'>, <A25 '‡ ‘Other’ incorporates a number of different substance categories which are not shown elsewhere in the table. A single young person may be counted under both primary and adjunctive ‘other’ if the substances are from different categories. Therefore, primary and adjunctive users cannot be summed to give a total number of users.'>, <A12 'Heroin'>, <A7 'Ecstasy'>, <A15 'Other‡'>, <A9 'New psychoactive substances'>, <A17 'Total'>, <A10 'Amphetamines'>, <A13 'Crack'>, <A23 "◊ ‘Other opiates' include methadone.">, <A18 'Missing, misuse free or inconsistent data'>, <A6 'Alcohol'>, <A21 '^ adjunctive percentages are out of all young people in treatment (16,436)'>, <A16 'Nicotine (adjunctive use only)'>, <A14 'Other opiates◊'>}

In [5]:
sex = tab.excel_ref('B3').expand(RIGHT).is_not_blank() 
sex

{<F3 'Total'>, <D3 'Adjunctive^'>, <B3 'Primary'>, <H3 'Primary'>}

In [6]:
measuretype = tab.excel_ref('B4').expand(RIGHT).is_not_blank() 
measuretype

{<E4 '%'>, <C4 '%'>, <B4 'n'>, <F4 'n'>, <D4 'n'>, <H4 'median age'>, <G4 '%'>}

In [7]:
Dimensions = [
            HDim(substance,'Substance',DIRECTLY,LEFT),
            HDim(sex,'Clients in treatment',CLOSEST,LEFT),
            HDim(measuretype,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,DATAMARKER,Substance,Clients in treatment,Measure Type,Unit
0,12712,NaN,Cannabis,Primary,n,People
1,0.77,NaN,Cannabis,Primary,%,People
2,1737,NaN,Cannabis,Adjunctive^,n,People
3,0.11,NaN,Cannabis,Adjunctive^,%,People
4,14449,NaN,Cannabis,Total,n,People
5,0.88,NaN,Cannabis,Total,%,People
6,15,NaN,Cannabis,Primary,median age,People
7,2465,NaN,Alcohol,Primary,n,People
8,0.15,NaN,Alcohol,Primary,%,People
9,5593,NaN,Alcohol,Adjunctive^,n,People
10,0.34,NaN,Alcohol,Adjunctive^,%,People
11,8058,NaN,Alcohol,Total,n,People
12,0.49,NaN,Alcohol,Total,%,People
13,15,NaN,Alcohol,Primary,median age,People
14,340,NaN,Ecstasy,Primary,n,People
15,0.02,NaN,Ecstasy,Primary,%,People
16,1475,NaN,Ecstasy,Adjunctive^,n,People
17,0.09,NaN,Ecstasy,Adjunctive^,%,People
18,1815,NaN,Ecstasy,Total,n,People
19,0.11,NaN,Ecstasy,Total,%,People
20,15,NaN,Ecstasy,Primary,median age,People
21,254,NaN,Cocaine,Primary,n,People
22,0.02,NaN,Cocaine,Primary,%,People
23,1219,NaN,Cocaine,Adjunctive^,n,People
24,0.07,NaN,Cocaine,Adjunctive^,%,People
25,1473,NaN,Cocaine,Total,n,People
26,0.09,NaN,Cocaine,Total,%,People
27,16,NaN,Cocaine,Primary,median age,People
28,213,NaN,New psychoactive substances,Primary,n,People
29,0.01,NaN,New psychoactive substances,Primary,%,People
...,...,...,...,...,...,...
58,67,NaN,Crack,Adjunctive^,n,People
59,0,NaN,Crack,Adjunctive^,%,People
60,83,NaN,Crack,Total,n,People
61,0.01,NaN,Crack,Total,%,People
62,17,NaN,Crack,Primary,median age,People
63,23,NaN,Other opiates◊,Primary,n,People
64,0,NaN,Other opiates◊,Primary,%,People
65,60,NaN,Other opiates◊,Adjunctive^,n,People
66,0,NaN,Other opiates◊,Adjunctive^,%,People
67,83,NaN,Other opiates◊,Total,n,People
68,0.01,NaN,Other opiates◊,Total,%,People
69,16,NaN,Other opiates◊,Primary,median age,People
70,133,NaN,Other‡,Primary,n,People
71,0.01,NaN,Other‡,Primary,%,People
72,563,NaN,Other‡,Adjunctive^,n,People
73,0.03,NaN,Other‡,Adjunctive^,%,People
74,,-,Other‡,Total,n,People
75,,-,Other‡,Total,%,People
76,16,NaN,Other‡,Primary,median age,People
77,,-,Nicotine (adjunctive use only),Primary,n,People
78,,-,Nicotine (adjunctive use only),Primary,%,People
79,2711,NaN,Nicotine (adjunctive use only),Adjunctive^,n,People
80,0.16,NaN,Nicotine (adjunctive use only),Adjunctive^,%,People
81,,-,Nicotine (adjunctive use only),Total,n,People
82,,-,Nicotine (adjunctive use only),Total,%,People
83,,-,Nicotine (adjunctive use only),Primary,median age,People
84,16426,NaN,Total,Primary,n,People
85,1,NaN,Total,Primary,%,People
86,10,NaN,"Missing, misuse free or inconsistent data",Primary,n,People
87,16436,NaN,Total including missing,Primary,n,People

In [10]:
new_table = new_table[new_table['OBS'] != '' ]

In [11]:
new_table = new_table[new_table['OBS'] != 0 ]

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table.head()

   Value DATAMARKER Substance Clients in treatment Measure Type    Unit
0  12712        NaN  Cannabis              Primary            n  People
1   0.77        NaN  Cannabis              Primary            %  People
2   1737        NaN  Cannabis          Adjunctive^            n  People
3   0.11        NaN  Cannabis          Adjunctive^            %  People
4  14449        NaN  Cannabis                Total            n  People

In [14]:
new_table['Basis of treatment'] = 'Therapy'

In [15]:
new_table['Substance'] = new_table['Substance'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [16]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

In [17]:
new_table.head()

,Value,DATAMARKER,Substance,Clients in treatment,Measure Type,Unit,Basis of treatment
0,12712,NaN,Cannabis,Primary,n,People,Therapy
1,0.77,NaN,Cannabis,Primary,%,People,Therapy
2,1737,NaN,Cannabis,Adjunctive^,n,People,Therapy
3,0.11,NaN,Cannabis,Adjunctive^,%,People,Therapy
4,14449,NaN,Cannabis,All,n,People,Therapy

In [18]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [19]:
new_table.tail()

,Value,DATAMARKER,Substance,Clients in treatment,Measure Type,Unit,Basis of treatment
80,0.16,NaN,Nicotine (adjunctive use only),Adjunctive^,Percentage,People,Therapy
84,16426,NaN,All,Primary,Count,People,Therapy
85,1,NaN,All,Primary,Percentage,People,Therapy
86,10,NaN,"Missing, misuse free or inconsistent data",Primary,Count,People,Therapy
87,16436,NaN,Total including missing,Primary,Count,People,Therapy

In [20]:
new_table.dtypes

Value                   object
DATAMARKER              object
Substance               object
Clients in treatment    object
Measure Type            object
Unit                    object
Basis of treatment      object
dtype: object

In [21]:
new_table['Value'] = new_table['Value'].astype(str)

In [22]:
new_table.head(3)

,Value,DATAMARKER,Substance,Clients in treatment,Measure Type,Unit,Basis of treatment
0,12712.0,NaN,Cannabis,Primary,Count,People,Therapy
1,0.77,NaN,Cannabis,Primary,Percentage,People,Therapy
2,1737.0,NaN,Cannabis,Adjunctive^,Count,People,Therapy

In [23]:
new_table['Clients in treatment'] = new_table['Clients in treatment'].str.rstrip('^')

In [24]:
new_table['Period'] = '2016-17'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]

In [25]:
new_table.head()

,Period,Basis of treatment,Substance,Clients in treatment,Measure Type,Value,Unit
0,2016-17,Therapy,Cannabis,Primary,Count,12712.0,People
1,2016-17,Therapy,Cannabis,Primary,Percentage,0.77,People
2,2016-17,Therapy,Cannabis,Adjunctive,Count,1737.0,People
3,2016-17,Therapy,Cannabis,Adjunctive,Percentage,0.11,People
4,2016-17,Therapy,Cannabis,All,Count,14449.0,People