Table 2.7.3: Multiple vulnerabilities reported by young people starting treatment in 2016-17

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/statistics/substance-misuse-treatment-for-young-people-statistics-2016-to-2017')
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda t: t.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['2.7.3 Multiple vulnerabilities']

In [3]:
observations = tab.excel_ref('B4').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<B5 1887.0>, <B6 2884.0>, <C6 0.25>, <B8 4212.0>, <B7 2334.0>, <C5 0.16>, <C9 1.0>, <B9 11753.0>, <C8 0.36>, <B4 436.0>, <C4 0.04>, <C7 0.2>}

In [4]:
age = tab.excel_ref('A4').expand(DOWN).is_not_blank()
age

{<A8 'Four or more'>, <A7 'Three'>, <A6 'Two'>, <A5 'One'>, <A4 'Zero'>, <A9 'Total new presentations'>}

In [5]:
measuretype = tab.excel_ref('B4').expand(RIGHT).is_not_blank() 
measuretype

{<B4 436.0>, <C4 0.04>}

In [6]:
Dimensions = [
            HDim(age,'Basis of treatment',DIRECTLY,LEFT),
            HDimConst('Clients in treatment','All young clients'),
            HDim(measuretype,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [7]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [8]:
new_table = c1.topandas()
new_table

,OBS,Basis of treatment,Clients in treatment,Measure Type,Unit
0,436.00,Zero,All young clients,436.0,People
1,0.04,Zero,All young clients,0.04,People
2,1887.00,One,All young clients,436.0,People
3,0.16,One,All young clients,0.04,People
4,2884.00,Two,All young clients,436.0,People
5,0.25,Two,All young clients,0.04,People
6,2334.00,Three,All young clients,436.0,People
7,0.20,Three,All young clients,0.04,People
8,4212.00,Four or more,All young clients,436.0,People
9,0.36,Four or more,All young clients,0.04,People
10,11753.00,Total new presentations,All young clients,436.0,People
11,1.00,Total new presentations,All young clients,0.04,People

In [9]:
new_table = new_table[new_table['OBS'] != 0 ]

In [10]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [11]:
new_table['Basis of treatment'] = 'Reported multiple vulnerabilities' +'/'+ new_table['Basis of treatment']

In [12]:
new_table.head()

,Value,Basis of treatment,Clients in treatment,Measure Type,Unit
0,436.00,Reported multiple vulnerabilities/Zero,All young clients,436.0,People
1,0.04,Reported multiple vulnerabilities/Zero,All young clients,0.04,People
2,1887.00,Reported multiple vulnerabilities/One,All young clients,436.0,People
3,0.16,Reported multiple vulnerabilities/One,All young clients,0.04,People
4,2884.00,Reported multiple vulnerabilities/Two,All young clients,436.0,People

In [13]:
new_table['Basis of treatment'].unique()

array(['Reported multiple vulnerabilities/Zero',
       'Reported multiple vulnerabilities/One',
       'Reported multiple vulnerabilities/Two',
       'Reported multiple vulnerabilities/Three',
       'Reported multiple vulnerabilities/Four or more',
       'Reported multiple vulnerabilities/Total new presentations'],
      dtype=object)

In [14]:
new_table.head()

,Value,Basis of treatment,Clients in treatment,Measure Type,Unit
0,436.00,Reported multiple vulnerabilities/Zero,All young clients,436.0,People
1,0.04,Reported multiple vulnerabilities/Zero,All young clients,0.04,People
2,1887.00,Reported multiple vulnerabilities/One,All young clients,436.0,People
3,0.16,Reported multiple vulnerabilities/One,All young clients,0.04,People
4,2884.00,Reported multiple vulnerabilities/Two,All young clients,436.0,People

In [15]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [16]:
new_table.tail()

,Value,Basis of treatment,Clients in treatment,Measure Type,Unit
7,0.20,Reported multiple vulnerabilities/Three,All young clients,0.04,People
8,4212.00,Reported multiple vulnerabilities/Four or more,All young clients,436.0,People
9,0.36,Reported multiple vulnerabilities/Four or more,All young clients,0.04,People
10,11753.00,Reported multiple vulnerabilities/Total new pr...,All young clients,436.0,People
11,1.00,Reported multiple vulnerabilities/Total new pr...,All young clients,0.04,People

In [17]:
new_table.dtypes

Value                   float64
Basis of treatment       object
Clients in treatment     object
Measure Type             object
Unit                     object
dtype: object

In [18]:
new_table['Value'] = new_table['Value'].astype(str)

In [19]:
new_table.head(3)

,Value,Basis of treatment,Clients in treatment,Measure Type,Unit
0,436.0,Reported multiple vulnerabilities/Zero,All young clients,436.0,People
1,0.04,Reported multiple vulnerabilities/Zero,All young clients,0.04,People
2,1887.0,Reported multiple vulnerabilities/One,All young clients,436.0,People

In [20]:
new_table['Period'] = '2016-17'
new_table['Substance'] = 'All'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]

In [21]:
new_table.head()

,Period,Basis of treatment,Substance,Clients in treatment,Measure Type,Value,Unit
0,2016-17,Reported multiple vulnerabilities/Zero,All,All young clients,436.0,436.0,People
1,2016-17,Reported multiple vulnerabilities/Zero,All,All young clients,0.04,0.04,People
2,2016-17,Reported multiple vulnerabilities/One,All,All young clients,436.0,1887.0,People
3,2016-17,Reported multiple vulnerabilities/One,All,All young clients,0.04,0.16,People
4,2016-17,Reported multiple vulnerabilities/Two,All,All young clients,436.0,2884.0,People